.env
venv
assets/grbi/original/*
assets/grbi/72/*
assets/players/*
assets/articles/*
assets/sponsors/*
assets/staff/*
assets/youngerTeam/lazy/*
assets/youngerTeam/original/*
__pycache__/
!assets/grbi/original/.gitkeep
!assets/grbi/72/.gitkeep
!assets/players/.gitkeep
!assets/articles/.gitkeep
!assets/sponsors/.gitkeep
!assets/staff/.gitkeep
!assets/youngerTeam/lazy/.gitkeep
!assets/youngerTeam/original/.gitkeep
pu.sh